*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Airbnb Cereal App Book';
}

body{
    background-color: rgba(255, 255, 255, 0.25);
}

nav{
    display: flex;
    width: 100%;
    height: 8%;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    position: fixed;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 5;
}

nav .burger-slc{
    height: 100%;
    flex: 0.3;
    /* background-color: blueviolet; */
    display: flex;
    position: relative;
    /* border-right: 1px solid red; */
}

nav .burger-slc span{
    position: absolute;
    background-color: rgb(42, 42, 42);
    width:50px;
    height: 5px;
    top: 35px;
    left: 40px;
}
nav .burger-slc span::after{
    content: '';
    width: 50px;
    height: 5px;
    background-color: rgb(42, 42, 42);
    position: absolute;
    top: -10px;
}
nav .burger-slc span::before{
    content: '';
    width: 50px;
    height: 5px;
    background-color: rgb(42, 42, 42);
    position: absolute;
    top: 10px;
}

nav .brand-slc{
    display: flex;
    flex: 3;
    height: 100%;
    /* background-color: burlywood; */
    justify-content: center;
    align-items: center;
}
nav .brand-slc h2{
    color: #000;
    font-size: 30px;
}

nav .search-cart{
    display: flex;
    flex: 1.3;
    background-color: 1;
    align-items: center;
}
nav .search-cart .search-slc{
    display: flex;
    flex:2;
    /* background-color: rgb(61, 51, 38); */
    height: 70%;
    
}
nav .search-cart .search-slc input{
    width:100%;
    height: 100%;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    font-size: 20px;
    background-image: url('../../img/icon/search.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-y: center;
    background-position-x: left;
    padding-left: 40px;

}
nav .search-cart .cart-slc{
    display: flex;
    flex: 1;
    /* background-color: chartreuse; */
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}
nav .search-cart .cart-slc img{
    width: 40px;
    height: 40px;
}
nav .search-cart .cart-slc a{
    text-decoration: none;
    color: rgb(7, 5, 5);
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px 10px 20px;
    border-radius: 40px;
}



aside{
    display: flex;
    flex-direction: column;
    height: 92%;
    width: 125px;
    box-shadow: 10px 0 5px -5px rgba(0, 0, 0, 0.1);
    position: fixed;
    background-color: white;
    bottom: 0;
    left: 0px;
    z-index: 5;
}

aside .menu-slc{
    display: flex;
    width: 100%;
    height: 120px;
    /* background-color: violet; */
    justify-content: center;
    align-items: center;
}
aside .menu-slc img{
    width: 50px;
    height: 50px;
}
aside .history-slc{
    display: flex;
    width: 100%;
    height: 120px;
    /* background-color: rgb(110, 82, 110); */
    justify-content: center;
    align-items: center;
}
aside .history-slc img{
    width: 50px;
    height: 50px;
}
aside .add-slc{
    display: flex;
    width: 100%;
    height: 120px;
    /* background-color: rgb(29, 21, 29); */
    justify-content: center;
    align-items: center;
}
aside .add-slc img{
    width: 50px;
    height: 50px;
}


.side-cart{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 92%;
    border-left: 1px solid #cecece;
    background-color: white;
    position: fixed;
    right: 0px;
    bottom:0;
    z-index: 5;
}

.side-cart .empty-cart{
    height: 500px;
    width: 100%;
    /* background-color: rgb(38, 112, 106); */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}
.side-cart .empty-cart img{
    width: 300px;
    height: 300px;
}
.side-cart .empty-cart h2{
    font-size: 30px;
}
.side-cart .empty-cart p{
    font-size: 20px;
    color: #CECECE;
}

section .coffee-menus{
    width: 85%;
    /* height: 900px; */
    /* background-color: yellowgreen; */
    display: flex;
    position: relative;
    top: 100px;
    margin: 0 auto;
    z-index: 1;
    flex-wrap: wrap;
    justify-content:space-between;
}
section .coffee-menus .card-product{
    width: 250px;
    height: 305px;
    background-color: #fff;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border: 1px solid #cacaca;
}

section .coffee-menus .card-product .thumb-slc{
    width: 100%;
    height: 200px;
    background-color: rgb(69, 75, 58);
    position: relative;
}
/* section .coffee-menus .card-product .thumb-slc:hover::after{
    content: '';
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left:0;
    top:0;
    
} */
section .coffee-menus .card-product .thumb-slc img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .8s;
}
section .coffee-menus .card-product .thumb-slc:hover{
    width:150%;
    transition: .8s;
}
section .coffee-menus .card-product .thumb-slc .thumb-layer{
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left: 0;
    overflow: hidden;
    transition: .3s;
}

section .coffee-menus .card-product .thumb-slc .thumb-layer:hover{
    background-color: rgba(0, 0, 0, 0.6);
}
section .coffee-menus .card-product .thumb-slc .thumb-layer:hover  #apawe{
    transition: .3s;
    top: 50px;
}

#apawe{
    color: #fff;
    position: absolute;
    top:-90px;
    left:90px;
    font-size: 70px;
    transition: .3s;
}
section .coffee-menus .card-product .detail-prod{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* background-color: tomato; */
    padding: 5px;
}
section .coffee-menus .card-product .detail-prod a{
    border-left: 3px solid black;
    padding-left: 5px;
}
section .coffee-menus .card-product .detail-prod p{
    border-left: 3px solid black;
    padding-left: 5px;
    font-weight: bold;
}
section .coffee-menus .card-product .detail-prod .addtocart{
    width: 100%;
    height: 35px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: .2s;
}
section .coffee-menus .card-product .detail-prod .addtocart:active{
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.25);
    margin-top: 13px;
    transition: .2s;
}
section .coffee-menus .card-product .detail-prod .addtocart h2{
    font-size: 17px;
}

.search-slc{
    display: none;
}






@media (max-width: 414px){

    nav{
        display: flex;
        width: 100%;
        height: 9%;
        background-color: rgb(255, 255, 255);
        justify-content: space-between;
        position: fixed;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        z-index: 5;
        top:0;
    }
    
    nav .burger-slc{
        height: 100%;
        flex: 0.3;
        /* background-color: blueviolet; */
        display: flex;
        position: relative;
        /* border-right: 1px solid red; */
    }
    
    nav .burger-slc span{
        position: absolute;
        background-color: rgb(42, 42, 42);
        width:50px;
        height: 5px;
        top: 28px;
        left: 20px;
    }
    nav .burger-slc span::after{
        content: '';
        width: 50px;
        height: 5px;
        background-color: rgb(42, 42, 42);
        position: absolute;
        top: -10px;
    }
    nav .burger-slc span::before{
        content: '';
        width: 50px;
        height: 5px;
        background-color: rgb(42, 42, 42);
        position: absolute;
        top: 10px;
    }
    
    nav .brand-slc{
        display: flex;
        flex: 4;
        height: 100%;
        /* background-color: burlywood; */
        justify-content: center;
        align-items: center;
    }
    nav .brand-slc h2{
        color: #000;
        font-size: 30px;
        margin-left: 50px;
    }
    
    nav .search-cart{
        display: flex;
        flex: 1.3;
        background-color: 1;
        align-items: center;
    }
    nav .search-cart .search-slc{
        display: none;   
    }
    nav .search-cart .cart-slc{
        display: flex;
        flex: 1;
        /* background-color: chartreuse; */
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
    }
    nav .search-cart .cart-slc img{
        width: 30px;
        height: 30px;
    }
    nav .search-cart .cart-slc a{
        text-decoration: none;
        color: rgb(7, 5, 5);
        font-size: 30px;
        background-color: rgb(255, 255, 255);
        padding: 10px 20px 10px 20px;
        border-radius: 40px;
    }
    



    aside{
        display: flex;
        /* flex-direction: column; */
        height: auto;
        width: 100%;
        box-shadow: 10px 0 5px -5px rgba(0, 0, 0, 0.1);
        position: fixed;
        background-color: rgb(255, 255, 255);
        top: 50px;
        left: 0px;
        bottom: unset;
        z-index: 3;
    }
    .wrap-menus{
        display: flex;
    }


    aside .menu-slc{
        display: flex;
        width: 100%;
        height: 120px;
        /* background-color: violet; */
        justify-content: center;
        align-items: center;
    }
    aside .menu-slc img{
        width: 50px;
        height: 50px;
    }
    aside .history-slc{
        display: flex;
        width: 100%;
        height: 120px;
        /* background-color: rgb(110, 82, 110); */
        justify-content: center;
        align-items: center;
    }
    aside .history-slc img{
        width: 50px;
        height: 50px;
    }
    aside .add-slc{
        display: flex;
        width: 100%;
        height: 120px;
        /* background-color: rgb(29, 21, 29); */
        justify-content: center;
        align-items: center;
    }
    aside .add-slc img{
        width: 50px;
        height: 50px;
    }

    aside .search-slc{
        display: flex;
        margin-bottom: 10px;
    }
    .search-slc input{
        width: 100%;
        margin: 0 15px;
        padding: 15px 15px 15px 50px ;
        background-image: url('../../img/icon/search.png');
        background-size: 30px;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 6px;
        border: none ;
        border-bottom: 2px solid black;
        outline: none;
        font-size: 30px;
    }
    




    .side-cart{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 92%;
        border-left: 1px solid #cecece;
        background-color: white;
        position: fixed;
        right: -400px;
        bottom:0;
        z-index: 7;
    }
    
    .side-cart .empty-cart{
        height: 500px;
        width: 100%;
        /* background-color: rgb(38, 112, 106); */
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: flex;
    }
    .side-cart .empty-cart img{
        width: 300px;
        height: 300px;
    }
    .side-cart .empty-cart h2{
        font-size: 30px;
    }
    .side-cart .empty-cart p{
        font-size: 20px;
        color: #CECECE;
    }



    section .coffee-menus{
        width: 95%;
        /* height: 900px; */
        /* background-color: yellowgreen; */
        display: flex;
        position: relative;
        top: 100px;
        margin: 0 auto;
        z-index: 1;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
    }
    section .coffee-menus .card-product{
        width: 300px;
        height: 305px;
        background-color: #fff;
        flex-direction: column;
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        border: 1px solid #cacaca;
    }
    
    section .coffee-menus .card-product .thumb-slc{
        width: 100%;
        height: 200px;
        background-color: rgb(69, 75, 58);
        position: relative;
    }
    /* section .coffee-menus .card-product .thumb-slc:hover::after{
        content: '';
        width:100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        left:0;
        top:0;
        
    } */
    section .coffee-menus .card-product .thumb-slc img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .8s;
    }
    section .coffee-menus .card-product .thumb-slc:hover{
        width:150%;
        transition: .8s;
    }
    section .coffee-menus .card-product .thumb-slc .thumb-layer{
        position: absolute;
        width:100%;
        height: 100%;
        top:0;
        left: 0;
        overflow: hidden;
        transition: .3s;
    }
    
    section .coffee-menus .card-product .thumb-slc .thumb-layer:hover{
        background-color: rgba(0, 0, 0, 0.6);
    }
    section .coffee-menus .card-product .thumb-slc .thumb-layer:hover  #apawe{
        transition: .3s;
        top: 50px;
    }
    
    #apawe{
        color: #fff;
        position: absolute;
        top:-90px;
        left:90px;
        font-size: 70px;
        transition: .3s;
    }
    section .coffee-menus .card-product .detail-prod{
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* background-color: tomato; */
        padding: 5px;
    }
    section .coffee-menus .card-product .detail-prod a{
        border-left: 3px solid black;
        padding-left: 5px;
    }
    section .coffee-menus .card-product .detail-prod p{
        border-left: 3px solid black;
        padding-left: 5px;
        font-weight: bold;
    }
    section .coffee-menus .card-product .detail-prod .addtocart{
        width: 100%;
        height: 35px;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        transition: .2s;
    }
    section .coffee-menus .card-product .detail-prod .addtocart:active{
        box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.25);
        margin-top: 13px;
        transition: .2s;
    }
    section .coffee-menus .card-product .detail-prod .addtocart h2{
        font-size: 17px;
    }
    
    .search-slc{
        display: none;
    }
}






